Repository Hekili/hekili, pull requests merged in 2025-04, with the labels that each got.

#4676 Balance Druid APL Sync
  TheWarWithin/DruidBalance.lua
  TheWarWithin/Priorities/DruidBalance.simc
Labels: SimC APL Sync

#4684 Fix bloodtalons even more gooder
  TheWarWithin/DruidFeral.lua
Labels: ✅ Bug Fix

#4685 Excess Frost
  TheWarWithin/MageFrost.lua
Labels: ✅ Bug Fix

#4653 Give mistweavers some love
  TheWarWithin/MonkMistweaver.lua
  TheWarWithin/Priorities/MonkMistweaver.simc
Labels: ✨ Feature

#4675 Better version of crackling jade lightning setting
  TheWarWithin/MonkWindwalker.lua
Labels: ✨ Feature

#4672 Hunter Spec Settings: Lunar Storm toggling
  TheWarWithin/HunterMarksmanship.lua
  TheWarWithin/HunterSurvival.lua
Labels: ✨ Feature

#4698 APL Syncs: Prot Pal, Frost Mage
  TheWarWithin/MageFrost.lua
  TheWarWithin/PaladinProtection.lua
  TheWarWithin/Priorities/EvokerAugmentation.simc
  TheWarWithin/Priorities/MageFrost.simc
  TheWarWithin/Priorities/PaladinProtection.simc
Labels: 🔄 SimC APL Sync

#4694 Hunter cleanup: Explosive Shot, Streamline
  TheWarWithin/HunterBeastMastery.lua
  TheWarWithin/HunterMarksmanship.lua
  TheWarWithin/HunterSurvival.lua
Labels: ✅ Bug Fix

#4705 Survival APL
  TheWarWithin/HunterSurvival.lua
  TheWarWithin/Priorities/HunterSurvival.simc
Labels: 🔄 SimC APL Sync

#4704 Rogue APLs
  TheWarWithin/Priorities/RogueOutlaw.simc
  TheWarWithin/Priorities/RogueSubtlety.simc
  TheWarWithin/RogueOutlaw.lua
  TheWarWithin/RogueSubtlety.lua
Labels: 🔄 SimC APL Sync

#4688 Unholy DK: RP model & APL Sync
  TheWarWithin/DeathKnightUnholy.lua
  TheWarWithin/Priorities/DeathKnightUnholy.simc
Labels: 🔄 SimC APL Sync, ✅ Bug Fix

#4714 Rogue APLs
  TheWarWithin/Priorities/RogueAssassination.simc
  TheWarWithin/Priorities/RogueOutlaw.simc
  TheWarWithin/RogueAssassination.lua
  TheWarWithin/RogueOutlaw.lua
Labels: 🔄 SimC APL Sync

#4726 Implement Hero Trees (I swear this isn't patch 11.1)
  Constants.lua
  Options.lua
  State.lua
  TheWarWithin/WarlockDestruction.lua
Labels: ✨ Feature

#4730 Unholy APL
  State.lua
  TheWarWithin/DeathKnightUnholy.lua
  TheWarWithin/Priorities/DeathKnightUnholy.simc
Labels: 🔄 SimC APL Sync, ✅ Bug Fix

#4736 Update Druid.lua
  Cataclysm/Druid.lua
Labels: classic

#4737 Match SimC spelling of hero trees
  Constants.lua
Labels: ✅ Bug Fix

#4729 Outlaw, Assassination APLs
  TheWarWithin/Priorities/RogueAssassination.simc
  TheWarWithin/Priorities/RogueOutlaw.simc
  TheWarWithin/RogueAssassination.lua
  TheWarWithin/RogueOutlaw.lua
Labels: ✅ Bug Fix

#4739 Shadow APL
  TheWarWithin/PriestShadow.lua
  TheWarWithin/Priorities/PriestShadow.simc
Labels: 🔄 SimC APL Sync

#4738 More outlaw APL
  TheWarWithin/Priorities/RogueOutlaw.simc
  TheWarWithin/RogueOutlaw.lua
Labels: 🔄 SimC APL Sync

#4751 Aug APL Update
  TheWarWithin/EvokerAugmentation.lua
  TheWarWithin/Priorities/EvokerAugmentation.simc
Labels: 🔄 SimC APL Sync

#4754 Unholy APL
  TheWarWithin/DeathKnightUnholy.lua
  TheWarWithin/Priorities/DeathKnightUnholy.simc
Labels: 🔄 SimC APL Sync, ✅ Bug Fix

#4806 Druid APL Updates: Feral, Balance
  TheWarWithin/DruidBalance.lua
  TheWarWithin/DruidFeral.lua
  TheWarWithin/Priorities/DruidBalance.simc
  TheWarWithin/Priorities/DruidFeral.simc
Labels: 🔄 SimC APL Sync

#4805 Outlaw APL Update + Unseen Blade SpellID Fix
  TheWarWithin/Priorities/RogueOutlaw.simc
  TheWarWithin/RogueOutlaw.lua
Labels: 🔄 SimC APL Sync

#4804 Unholy APL Update
  TheWarWithin/DeathKnightUnholy.lua
  TheWarWithin/Priorities/DeathKnightUnholy.simc
Labels: 🔄 SimC APL Sync

#4800 Augmentation: Add missing aura definition
  TheWarWithin/EvokerAugmentation.lua
Labels: ✅ Bug Fix
